body {
  position: relative;
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  font-family: 'Noto Sans TC', 'Noto Serif TC', serif;
  background-image: url("../Images/background.png");
  background-color: #111819;
  background-size: cover;
  background-position: center;
  overflow: hidden; }
  @media (max-width: 1024px) {
    body {
      overflow: auto;
      overflow-x: hidden;
      background-repeat: no-repeat; } }

a:hover, a:visited, a:link, a:active {
  color: white;
  color: rgba(255, 255, 255, 0.8);
  text-decoration: none; }

nav.navbar {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px 40px;
  width: 100%;
  color: #fff;
  z-index: 9; }
  @media (max-width: 1024px) {
    nav.navbar {
      padding: 20px 25px; } }
  nav.navbar .navbar-toggler {
    padding-right: 0;
    color: #fff; }
  nav.navbar .nav-item {
    padding: 0 20px;
    cursor: pointer; }
    @media (max-width: 1024px) {
      nav.navbar .nav-item {
        padding: 0; } }
  nav.navbar a {
    color: #fff; }
    nav.navbar a:hover {
      color: #fff;
      opacity: .8; }

.sticker {
  position: absolute;
  top: 35px;
  right: 45px;
  text-align: right;
  color: white; }
  @media (max-width: 1024px) {
    .sticker {
      right: 25px; } }
  .sticker p {
    margin: 0; }

.plurk {
  top: auto;
  bottom: 35px;
  color: rgba(255, 255, 255, 0.8);
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: tb-rl;
  writing-mode: vertical-rl;
  text-orientation: mixed;
  cursor: pointer; }
  .plurk:hover {
    color: #fff;
    text-decoration: none; }

.modal-content {
  background-color: transparent;
  border: 0; }

.black_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  z-index: 99; }

.white_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #fff;
  z-index: 99; }

.logo {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  margin: auto;
  z-index: 99; }

.circle {
  border-radius: 100px;
  width: 200px;
  height: 200px;
  background: #000;
  z-index: 99; }

.logo_left {
  width: 140px;
  height: 240px;
  background-image: url("https://i.imgur.com/pn2MwFI.png");
  -webkit-transform: translate(-28px, 23px);
  -ms-transform: translate(-28px, 23px);
  transform: translate(-28px, 23px);
  z-index: 99; }

.logo_right {
  width: 140px;
  height: 240px;
  background-image: url("https://i.imgur.com/IUeq0Wj.png");
  -webkit-transform: translate(28px, -23px);
  -ms-transform: translate(28px, -23px);
  transform: translate(28px, -23px);
  z-index: 99; }

.logo_back {
  width: 204px;
  height: 283px;
  background-image: url("https://i.imgur.com/fvPEHsy.png");
  background-size: contain;
  background-repeat: no-repeat;
  opacity: 0;
  z-index: 99; }

.logo_font {
  width: 204px;
  height: 283px;
  background-image: url("https://i.imgur.com/KkRkTTL.png");
  background-size: contain;
  background-repeat: no-repeat;
  z-index: 99; }

video {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-filter: grayscale(1) brightness(3) contrast(2.5) opacity(0.3);
  filter: grayscale(1) brightness(3) contrast(2.5) opacity(0.3); }

.index_timeline {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 400px;
  height: 100px;
  background-color: #fff; }

.transition_bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: #000;
  -webkit-transform: translateX(-100vw);
  -ms-transform: translateX(-100vw);
  transform: translateX(-100vw);
  z-index: 999; }

.transition_bg_open {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  width: 100vw;
  height: 100vh;
  background: #000;
  -webkit-transform: translateX(100vw);
  -ms-transform: translateX(100vw);
  transform: translateX(100vw);
  z-index: 999; }

.section {
  position: relative;
  padding: 120px 70px 0;
  color: #fff; }
  @media (max-width: 768px) {
    .section {
      padding: 120px 15px 0; } }
  .section .tatto {
    position: absolute;
    top: 45px;
    left: 50%;
    width: 427px;
    height: 800px;
    background-image: url("../Images/tatto_saber.png");
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    background-size: contain;
    opacity: .15;
    -webkit-filter: blur(2px);
    filter: blur(2px);
    z-index: -9; }
    @media (max-width: 768px) {
      .section .tatto {
        width: 250px;
        height: 650px;
        background-repeat: no-repeat;
        -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
        transform: translateX(0); } }
  .section .title_outline {
    position: relative;
    width: 100%; }
  .section .title {
    display: inline-block;
    font-size: 80px;
    font-weight: 700;
    font-family: serif;
    line-height: 1; }
    @media (max-width: 768px) {
      .section .title {
        font-size: 60px; } }
  .section .subtitle {
    display: inline-block;
    font-size: 20px; }
  .section .intro {
    margin-top: 50px;
    margin-bottom: 50px;
    width: 100%;
    height: 165px;
    word-wrap: break-word;
    color: #fff;
    line-height: 2;
    text-align: justify; }
  .section .chart_outline {
    display: inline-block;
    width: 250px; }
    @media (max-width: 768px) {
      .section .chart_outline {
        width: 100%; } }
  .section .value {
    display: inline-block;
    vertical-align: top;
    width: 34%; }
  .section .character_main {
    position: relative;
    width: 800px;
    height: 850px;
    margin: 0 auto;
    background-image: url("../Images/saber_half.png");
    background-repeat: no-repeat;
    background-size: contain; }
    @media (max-width: 768px) {
      .section .character_main {
        height: calc(100% - 143px);
        -webkit-transform: translateX(-73px);
        -ms-transform: translateX(-73px);
        transform: translateX(-73px); } }
    .section .character_main .slogan {
      color: #fff;
      position: absolute;
      top: 84px;
      right: 223px;
      font-size: 30px;
      font-family: 'Noto Serif TC';
      font-weight: 700;
      -webkit-writing-mode: vertical-rl;
      -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl; }
      .section .character_main .slogan:hover {
        color: #fff; }
  @media (max-width: 768px) {
    .section .cha_archer_mobile .character_main.archer {
      width: 934px;
      height: calc(100% - 143px);
      -webkit-transform: translateX(-73px);
      -ms-transform: translateX(-73px);
      transform: translateX(-73px);
      background-position: -80vw 0; } }

.row.cha_saber,
.row.cha_archer {
  position: absolute;
  top: 80px;
  right: 0;
  z-index: -1; }

.row.cha_archer .character_main {
  width: 1230px;
  height: 880px; }

.row.cha_saber .character_main {
  width: 830px;
  height: 880px; }

@media (max-width: 768px) {
  .cha_archer_mobile .character_main .slogan,
  .cha_saber_mobile .character_main .slogan {
    -webkit-writing-mode: unset;
    -ms-writing-mode: unset;
    writing-mode: unset;
    top: calc(100vh - 240px);
    left: 70px;
    font-size: 26px; } }

.section#character_list .card_half {
  position: relative;
  display: inline-block;
  width: 49.1%;
  height: 50vh;
  background-color: #000d10;
  background-size: cover;
  background-position: top center;
  float: left;
  text-align: center;
  color: #000d10;
  font-family: 'Noto Serif TC';
  font-weight: 700;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  @media (max-width: 768px) {
    .section#character_list .card_half {
      margin-bottom: 50px; } }
  .section#character_list .card_half::before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 70%;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(255, 255, 255, 0.8)), color-stop(29%, rgba(255, 255, 255, 0.5)), color-stop(60%, rgba(255, 255, 255, 0.3)), to(rgba(255, 255, 255, 0)));
    background: -webkit-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 29%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(bottom, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 29%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.8) 0%, rgba(255, 255, 255, 0.5) 29%, rgba(255, 255, 255, 0.3) 60%, rgba(255, 255, 255, 0) 100%); }
  .section#character_list .card_half:hover {
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }
    .section#character_list .card_half:hover .name {
      color: #fff; }
  .section#character_list .card_half:hover::before {
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(0, 0, 0, 0.8)), color-stop(29%, rgba(0, 0, 0, 0.5)), color-stop(60%, rgba(0, 0, 0, 0.3)), to(rgba(0, 0, 0, 0)));
    background: -webkit-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 29%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%);
    background: -o-linear-gradient(bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 29%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%);
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.5) 29%, rgba(0, 0, 0, 0.3) 60%, rgba(0, 0, 0, 0) 100%); }
  .section#character_list .card_half p, .section#character_list .card_half h4 {
    margin: 0;
    font-weight: 700; }
  .section#character_list .card_half .name {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 15px;
    width: auto; }

.section#character_list .saber {
  background-image: url("../Images/list_saber.png"); }
  .section#character_list .saber:hover {
    background-color: #282542;
    background-image: url("../Images/list_saber_hover.png");
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }

.section#character_list .saber_master {
  background-image: url("../Images/list_master_saber.png"); }
  .section#character_list .saber_master:hover {
    background-color: #282542;
    background-image: url("../Images/list_master_saber_hover.png");
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }

.section#character_list .archer {
  background-image: url("../Images/list_archer.png"); }
  .section#character_list .archer:hover {
    background-color: #1a2846;
    background-image: url("../Images/list_archer_hover.png");
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }

.section#character_list .archer_master {
  background-image: url("../Images/list_master_archer.png"); }
  .section#character_list .archer_master:hover {
    background-color: #1a2846;
    background-image: url("../Images/list_master_archer_hover.png");
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }

.section#character_list .caster {
  background-image: url("../Images/list_caster.png"); }
  .section#character_list .caster:hover {
    background-color: #d2a85b;
    background-image: url("../Images/list_caster_hover.png");
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }

.section#character_list .caster_master {
  background-image: url("../Images/list_master_caster.png"); }
  .section#character_list .caster_master:hover {
    background-color: #d2a85b;
    background-image: url("../Images/list_master_caster_hover.png");
    -webkit-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px); }

.section#character .intro {
  height: auto; }

.section#about .about_title {
  border-left: solid 5px #ffffff;
  padding-left: 10px;
  font-weight: bold; }

.section#about .intro {
  height: auto;
  margin: 40px 0 50px 0; }

.section#story .story_mask {
  width: 100%;
  height: 400px;
  overflow: auto; }

.section#story .story_outline {
  width: 1155px; }

.section#story .caption {
  display: inline-block;
  position: relative;
  width: 100px;
  height: 200px;
  color: #fff; }
  .section#story .caption .story_title {
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
    width: 130px;
    cursor: pointer;
    -webkit-transition: all .2s;
    -o-transition: all .2s;
    transition: all .2s; }
    .section#story .caption .story_title h4 {
      font-size: 18px; }
    .section#story .caption .story_title a, .section#story .caption .story_title p {
      font-size: 14px;
      opacity: .8;
      -webkit-transition: all .2s;
      -o-transition: all .2s;
      transition: all .2s; }
    .section#story .caption .story_title h4, .section#story .caption .story_title p {
      margin: 0; }
    .section#story .caption .story_title:hover {
      -webkit-transform: translateY(-5px);
      -ms-transform: translateY(-5px);
      transform: translateY(-5px); }
      .section#story .caption .story_title:hover p {
        opacity: 1;
        text-shadow: 0 0 8px #fdffe8a1; }
  .section#story .caption .line {
    position: absolute;
    margin: 10px;
    width: 2px;
    top: 130px;
    background: #fff;
    -webkit-transform: rotate(25deg);
    -ms-transform: rotate(25deg);
    transform: rotate(25deg); }
  .section#story .caption .height {
    width: 1px;
    top: 100px;
    left: 55px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg); }
  .section#story .caption .long {
    left: 40px;
    height: 60px; }
  .section#story .caption .info {
    position: absolute;
    top: 145px;
    left: 0; }
  .section#story .caption .player {
    width: 35px;
    height: 35px;
    border: 2px solid;
    margin-bottom: 15px;
    border-radius: 35px;
    background: #fff;
    background-image: url("https://i.imgur.com/Rw2ArIh.png");
    background-size: cover;
    cursor: pointer;
    -webkit-transition: -webkit-transform .2s;
    transition: -webkit-transform .2s;
    -o-transition: transform .2s;
    transition: transform .2s;
    transition: transform .2s, -webkit-transform .2s; }
    .section#story .caption .player:hover {
      -webkit-transform: scale(1.5, 1.5);
      -ms-transform: scale(1.5, 1.5);
      transform: scale(1.5, 1.5); }

.section#story .caption.small {
  width: 50px;
  margin-right: 10px; }
  .section#story .caption.small .story_title {
    width: 80px;
    height: 42px;
    top: 90px; }
  .section#story .caption.small .line.short {
    height: 20px;
    left: 25px; }
  .section#story .caption.small .info {
    top: 175px;
    left: 10px; }

.section#story .caption.next {
  width: 200px;
  vertical-align: top;
  margin: 113px 10px 0 30px; }
  .section#story .caption.next h4 {
    text-align: center; }
  .section#story .caption.next .line_horizon {
    width: 200px;
    height: 1px;
    background: #fff;
    -webkit-animation-name: pulse;
    animation-name: pulse;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-iteration-count: infinite;
    animation-iteration-count: infinite; }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left;
    transform-origin: left; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left;
    transform-origin: left; }
  51% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right;
    transform-origin: right; }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right;
    transform-origin: right; } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: left;
    transform-origin: left; }
  50% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: left;
    transform-origin: left; }
  51% {
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transform-origin: right;
    transform-origin: right; }
  100% {
    -webkit-transform: scale(0);
    transform: scale(0);
    -webkit-transform-origin: right;
    transform-origin: right; } }

.section#story .intro {
  margin-top: 40px;
  border-left: solid 1px #fff;
  padding-left: 20px;
  height: auto; }
