extends layout

block body_content


  .section#about
    .container-fluid
      .row
        .col-12
          .title_outline.mt-4
            .title About

      .row(style="margin-top: 50px")
        .col-md-4.col-12
          h4.about_title 關於本站
          .intro
            p 
              | 本站為「TRPG【Fate/Subspecies】團務延伸私人企劃」官方網站，收錄團務內的故事劇情與詳細角色設定。並統整團務外(私人企劃)玩家進行的延伸創作，期望讓世界觀及角色故事更加完整！
              | 原團務使用系統為【PbtA 本週主打怪】，並參考一部分【Fate系列】世界觀。
        
        .col-md-4.col-12
          h4.about_title 關於 PbtA 
          .intro
            p 
              | 以啟示錄世界（Apocalypse World）引擎所驅動的角色扮演遊戲，稱作 PbtA （Powered by the Apocalypse）遊戲：除了啟示錄世界以外，還包括怪物心（Monsterhearts）、藍鬍子的新娘、本週主打怪（Monsters of the Week）和 tremulus 在內。
              a(href="https://trpgtw.blogspot.com/2019/08/pbta.html?m=1", target="_blank", style="opacity: .5") via

        .col-md-4.col-12
          h4.about_title 關於 TRPG 
          .intro
            p 
              | 桌上角色扮演遊戲（Tabletop Role Playing Game，縮寫： TRPG）是一種最初的角色扮演遊戲。一般需要3-5人參與，其中一人為遊戲主持者，負責解說劇情，扮演非玩家角色，如村民、怪物等，記錄時間，對玩家的行為作出裁決等。其他的人則是玩家，扮演遊戲中的角色。進行遊戲的過程被稱為「跑團」。
              a(href="https://zh.wikipedia.org/wiki/%E6%A1%8C%E4%B8%8A%E8%A7%92%E8%89%B2%E6%89%AE%E6%BC%94%E9%81%8A%E6%88%B2", target="_blank", style="opacity: .5") via
     

    .transition_bg_open
    .transition_bg


block body_script
  script.
    opening()

    function opening() {
      TweenLite.from(".transition_bg_open", 1, {x:"0", ease: Power4.easeOut,  onComplete: () => {
          $('.transition_bg_open').remove()
      }});
    }


