extends layout

block body_content
  .section#character
    .tatto.tatoo_archer
    .container-fluid
      .row.cha_archer.d-none.d-lg-block
        .col-md-7
            .character_main(style="background-image: url('./Images/archer_half.png')")
              .slogan 
                | 那些由祖靈庇佑著的靈魂們，
                br
                | 終將回歸於這片土地之上。

      .row.cha_archer_mobile.d-block.d-lg-none
        .col-lg-7
          a.col-lg-7(href="./Images/archer_1.png", data-toggle="lightbox", data-max-height="800")
            .character_main.archer(style="background-image: url('./Images/archer_half.png')")
              .slogan
                | 那些由祖靈庇佑著的靈魂，
                br
                | 終將回歸於這片土地之上。
      .row
        .col-md-5.order-md-first.order-last
          .title_outline.mt-4
            .title.mr-3 Archer
            .subtitle 安格 / 莫那·魯道
          .intro
            p
              | 臉上帶有紅色刺青的Servant。有著獵人天生的直覺和冷血的行動判斷，但私底下意外地很照顧自己看重的人。
              br
              | 認為自己在生前並未做好一族首領的職責而讓族人慘遭日本軍人殺害，希望能透過聖杯的力量重返當下並做出正確的決定，改變族人們的命運。
              br
              | 被召喚於現世後對烹飪與家事有著莫名的堅持，戰鬥外的時間似乎更享受於以人類之姿度過的每一天。
              | 3C白癡，對於一切需要介面操控的機械總是無法上心。

          .chart_outline.mt-md-3.mt-5
            canvas#myChart(width="300" height="280")
          .value.ml-md-4.mt-3
            p 
              | 筋力： A
              br
              | 耐久： C
              br
              | 敏捷： A+
              br
              | 魔力： D
              br
              | 幸運： D
              br
              | 寶具： A

            h4.mb-5  邁向自由的彩虹彼端
        a.col-lg-7.d-none.d-md-block(href="./Images/archer_1.png", data-toggle="lightbox", data-max-height="800")

  .transition_bg_open




block body_script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js")
  script.
    if ($( window ).width() >= 1024) {
      opening()
    }

    $('.sticker.plurk').remove()
    
    function opening() {
      $('body').css("background-image","url('./Images/background_archer.png')")
      TweenLite.from(".transition_bg_open", 1, {x:"0", ease: Power4.easeOut});
      TweenLite.from(".title_outline", 1, {opacity: 0, x:"-50", ease: Power4.easeOut, delay: .5});
      TweenLite.from(".intro", 1, {opacity: 0, x:"-50",ease: Power4.easeOut, delay: .8 ,onComplete: () => {
          $('.transition_bg_open').remove()
      }});
    }

    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

    Chart.defaults.global.animation.duration = 1000;
    Chart.defaults.global.legend.labels.boxWidth = 15;

    var ctx = 'myChart'
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'radar',

        // The data for our dataset
        data: {
            labels: ['筋力', '耐久', '敏捷', '魔力', '幸運', '寶具'],
            datasets: [{
                label: ' ',
                borderColor: 'rgb(154, 193, 234, 1)',
                backgroundColor: 'rgb(154, 193, 234, .6)',
                data: [5, 3, 6, 2, 2, 5]
            }]
        },

        // Configuration options go here
        options: {
          scale: {
                pointLabels: {
                  fontFamily: '微軟正黑體',
                  fontSize: 10,
                  fontColor: "rgba(154, 193, 234)"
                },
                ticks: {
                  display: false,
                  backdropColor: "rgba(0, 0, 0, 0)",
                  beginAtZero: true,
                },
                gridLines: {
                  display: true,
                  color: "rgba(154, 193, 234, .5)"
                }    
            },
            title: {
              display: false,
              //- text: $('#name').val(),
            },
            legend: {
              display: false,
            }
        }
    });


