extends layout

block body_content
  .section#character_list
    .container-fluid
      .row
        .col-md-5
          .title_outline.mt-4
            .title Character
      .row(style="margin-top: 51px")
        .col-md-4.col-12
          .card_half.saber
            .name
             p Saber
             h4 蕭星
          .card_half.saber_master
            .name
             p Master
             h4 才吾郎

        .col-md-4.col-12
          .card_half.archer
            .name
             p Archer
             h4 安格
          .card_half.archer_master
            .name
             p Master
             h4 瑟西

        .col-md-4.col-12
          .card_half.caster
            .name
             p Caster
             h4 米娜
          .card_half.caster_master
            .name
             p Master
             h4 野帽
  .transition_bg_open
  .transition_bg


block body_script
  script.
    opening()

    function opening() {
      TweenLite.from(".transition_bg_open", 1, {x:"0", ease: Power4.easeOut,  onComplete: () => {
          $('.transition_bg_open').remove()
      }});
    }

    function jumpSaber(){
      $(window).attr('location','./saber.html');
    };
    function jumpSaberMaster(){
      $(window).attr('location','./saber_master.html');
    };

    function jumpArcher(){
      $(window).attr('location','./archer.html');
    };
    function jumpArcherMaster(){
      $(window).attr('location','./archer_master.html');
    };

    function jumpCaster(){
      $(window).attr('location','./caster.html');
    };
    function jumpCasterMaster(){
      $(window).attr('location','./caster_master.html');
    };



    $(".card_half.saber").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpSaber()', 1000)
    });
    $(".card_half.saber_master").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpSaberMaster()', 1000)
    });

    $(".card_half.archer").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpArcher()', 1000)
    });
    $(".card_half.archer_master").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpArcherMaster()', 1000)
    });

    $(".card_half.caster").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpCaster()', 1000)
    });
    $(".card_half.caster_master").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpCasterMaster()', 1000)
    });


