extends layout

block body_content
  .section#character_list
    .container-fluid
      .row
        .col-md-5
          .title_outline.mt-4
            .title Character
      .row(style="margin-top: 50px")
        .col-4
          .card_half.saber
            .name
             p Saber
             h4 蕭星
          .card_half

        .col-4
          .card_half.archer
            .name
             p Saber
             h4 蕭星
          .card_half
  .transition_bg_open
  .transition_bg


block body_script
  script.
    opening()

    function opening() {
      TweenLite.from(".transition_bg_open", 1, {x:"0", ease: Power4.easeOut,  onComplete: () => {
          $('.transition_bg_open').remove()
      }});
    }

    function jumpSaber(){
      $(window).attr('location','./saber.html');
    };

    function jumpArcher(){
      $(window).attr('location','./archer.html');
    };



    $(".card_half.saber").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpSaber()', 1000)

    });

    $(".card_half.archer").click(function(){
      TweenLite.to(".transition_bg", 1, {x:"0", ease: Power4.easeOut});
      setTimeout('jumpArcher()', 1000)

    });

