nav.navbar.navbar-expand-md
	.container-fluid
		a.navbar-brand(href="./")
			img.mr-4(style="width: 180px", src="../Images/nav_logo.png")
		button.navbar-toggler(type="button" data-toggle="collapse" data-target="#nav_item" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation")
			span.fas.fa-bars
		.collapse.navbar-collapse#nav_item
			ul.navbar-nav
				li.nav-item.text-white
					a.nav-link.nav_about(href="#") About
				li.nav-item.text-white
					.nav-link.nav_character Character
				li.nav-item.text-white
					a.nav-link.nav_story(href="#") Story
				li.nav-item.text-white
					a.nav-link.nav_info(href="#") Info
.sticker.TRPG
	p TRPG
	p Fate / Subspecies
	p 團務網站
a.sticker.plurk(href="https://www.plurk.com/fate_subspecies", target="_blank")
	p plurk.com/fate_subspecies


