extends layout

block body_content
  .section#character
    .tatto
    .container-fluid
      .row.cha_saber.d-none.d-lg-block
        .col-lg-7
            .character_main(style="background-image: url('./Images/saber_half.png')")
              .slogan
                | 這一次一定會守護住，
                br
                | 不會再重蹈覆轍了。

      .row.cha_saber_mobile.d-block.d-lg-none
        .col-lg-7
          a.col-lg-7(href="./Images/saber_1.png", data-toggle="lightbox", data-max-height="800")
            .character_main(style="background-image: url('./Images/saber_half.png')")
              .slogan
                | 這一次一定會守護住，
                br
                | 不會再重蹈覆轍了。
      .row
        .col-lg-5.order-lg-first.order-last
          .title_outline.mt-4
            .title.mr-3 Saber
            .subtitle 蕭星 / 土方歲三
          .intro
            p
              | 白髮黃瞳的Servant。總是很沈著，也有意外地開朗的時候，一但交鋒則化身為冷靜而殘酷的劊子手。
              br
              | 生前，對於未能保住新選組局長近藤感到虧欠和懊悔，故以英靈姿態被召喚後，唯一的心念是為現在的御主贏得最後的聖杯戰爭。向聖杯寄託的願望是「戰鬥到最後」。
          .chart_outline.mt-md-3.mt-5
            canvas#myChart(width="250" height="230")
          .value.ml-md-4.mt-3
            p 
              | 筋力： A
              br
              | 耐久： A+
              br
              | 敏捷： B
              br
              | 魔力： E
              br
              | 幸運： C
              br
              | 寶具： A

            h4.mb-5 任生之刃
        a.col-lg-7(href="./Images/saber_1.png", data-toggle="lightbox", data-max-height="800")

  .transition_bg_open




block body_script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.min.js")
  script(src="https://cdnjs.cloudflare.com/ajax/libs/ekko-lightbox/5.3.0/ekko-lightbox.min.js")
  script.
    opening()

    function opening() {
      $('body').css("background-image","url('../Images/background_saber.png')")
      $('.sticker.plurk').remove()
      TweenLite.from(".transition_bg_open", 1, {x:"0", ease: Power4.easeOut});
      TweenLite.from(".title_outline", 1, {opacity: 0, x:"-50", ease: Power4.easeOut, delay: .5});
      TweenLite.from(".intro", 1, {opacity: 0, x:"-50",ease: Power4.easeOut, delay: .8 ,onComplete: () => {
          $('.transition_bg_open').remove()
      }});
    }


    $(document).on('click', '[data-toggle="lightbox"]', function(event) {
                event.preventDefault();
                $(this).ekkoLightbox();
            });

    Chart.defaults.global.animation.duration = 1000;
    Chart.defaults.global.legend.labels.boxWidth = 15;

    var ctx = 'myChart'
    var chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'radar',

        // The data for our dataset
        data: {
            labels: ['筋力', '耐久', '敏捷', '魔力', '幸運', '寶具'],
            datasets: [{
                label: ' ',
                borderColor: 'rgb(204, 186, 148, 1)',
                backgroundColor: 'rgb(204, 186, 148, .6)',
                data: [5, 6, 4, 1, 3, 5]
            }]
        },

        // Configuration options go here
        options: {
          scale: {
                pointLabels: {
                  fontFamily: '微軟正黑體',
                  fontSize: 10,
                  fontColor: "rgba(204, 186, 148)"
                },
                ticks: {
                  display: false,
                  backdropColor: "rgba(0, 0, 0, 0)",
                  beginAtZero: true,
                },
                gridLines: {
                  display: true,
                  color: "rgba(204, 186, 148, .5)"
                }    
            },
            title: {
              display: false,
              //- text: $('#name').val(),
            },
            legend: {
              display: false,
            }
        }
    });


