extends layout

block body_content


  .section#story
    .container-fluid
      .row
        .col-md-3
          .title_outline.mt-4
            .title Story
        .col-md-7
          .intro
            p 位於台灣一角的北港市，是塊擁有潛在靈脈，卻不曾被開發之地。消息曝光後，豐富的靈力資源成為魔術師們爭相前來的主因。為了進一步探究聖杯與根源，魔術師協會將此地列為聖杯戰爭的預備所，號招各地的魔術師與高人，舉辦了北港市首屆的亞種聖杯戰爭⋯⋯。
     
      .row.story_mask(style="margin-top: 50px")
        .col-12
          .story_outline
            .caption
              .story_title
                p.mb-2 第一次團務
                h4.mb-4  【厄運連鎖信】
                h4 8/15
              .line.height
              .line.long


            .caption.small
              a.story_title(href="https://www.plurk.com/p/nhqlgs", target="_blank")
                p 
                  | 幻想嘉年華
                  br
                  | 1-1
              .line.short
              .info
                a.link(href="https://www.plurk.com/fate_subspecies", target="_blank")
                  .player(style="background-image: url('https://avatars.plurk.com/15297501-big24510015.jpg')")

            .caption.small
              a.story_title(href="https://www.plurk.com/p/nhxbmh", target="_blank")
                p 
                  | 
                  br
                  | 1-1
              .line.short
              .info
                a.link(href="")
                  .player(style="border-color: #de3e3e;background-image: url('https://avatars.plurk.com/13581036-big24625916.jpg')")
                a.link(href="")
                  .player(style="border-color: #de3e3e;background: #de3e3e")
                
            .caption.small
              a.story_title(href="https://www.plurk.com/p/ni0fqh", target="_blank")
                p 
                  | 
                  br
                  | 1-1
              .line.short
              .info
                a.link(href="./archer.html")
                  .player(style="border-color: #004fa5;background-image: url('https://avatars.plurk.com/10891114-big24683769.jpg')")
                a.link(href="")
                  .player(style="border-color: #004fa5;background: #004fa5")
                a.link(href="")
                  .player(style="border-color: #ffbc00;background-image: url('./Images/caster_link.png')")
                a.link(href="./archer.html")
                  .player(style="border-color: #ffbc00;background-image: url('./Images/master_caster_link.png')")
           
            .caption.small
              a.story_title(href="https://www.plurk.com/p/ni2ftl", target="_blank")
                p 
                  | 
                  br
                  | 1-2
              .line.short
              .info
                a.link(href="")
                  .player(style="border-color: #de3e3e;background-image: url('https://avatars.plurk.com/13581036-big24625916.jpg')")
                a.link(href="")
                  .player(style="border-color: #de3e3e;background: #de3e3e")    
                a.link(href="./saber.html")
                  .player(style="border-color: #554bf1;background-image: url('./Images/saber_link.png')")
                a.link(href="")
                  .player(style="border-color: #554bf1;background-image: url('./Images/master_saber_link.png')") 
            
            .caption.small
              a.story_title(href="https://www.plurk.com/p/niau6u", target="_blank")
                p 
                  | 
                  br
                  | 1-1
              .line.short
              .info
                a.link(href="./saber.html")
                  .player(style="border-color: #554bf1;background-image: url('./Images/saber_link.png')")
                a.link(href="")
                  .player(style="border-color: #554bf1;background-image: url('./Images/master_saber_link.png')")
            .caption.small
              a.story_title(href="https://www.plurk.com/p/nid3b4", target="_blank")
                p 
                  | 
                  br
                  | 1-2
              .line.short
              .info
                a.link(href="./saber.html")
                  .player(style="border-color: #554bf1;background-image: url('./Images/saber_link.png')")
                a.link(href="")
                  .player(style="border-color: #554bf1;background-image: url('./Images/master_saber_link.png')")

            .caption
              .story_title
                p.mb-2 第二次團務
                h4.mb-4  【化裝舞會】
                h4 9/29
              .line.height
              .line.long

            .caption.small
              a.story_title(href="https://www.plurk.com/p/ninslj", target="_blank")
                p 
                  | 贖罪
                  br
                  | 2-1
              .line.short
              .info
                a.link(href="./archer.html")
                  .player(style="border-color: #004fa5;background-image: url('https://avatars.plurk.com/10891114-big24683769.jpg')")
       
            .caption.small
              a.story_title(href="https://www.plurk.com/p/nipbcg", target="_blank")
                p 
                  | 身而為人
                  br
                  | 2-2
              .line.short
              .info
                a.link(href="./archer.html")
                  .player(style="border-color: #004fa5;background-image: url('https://avatars.plurk.com/10891114-big24683769.jpg')")
                a.link(href="./saber.html")
                  .player(style="border-color: #554bf1;background-image: url('./Images/saber_link.png')")

            .caption.small
              a.story_title(href="https://www.plurk.com/p/nikct2", target="_blank")
                p 
                  | 
                  br
                  | 2-1
              .line.short
              .info
                a.link(href="./saber.html")
                  .player(style="border-color: #554bf1;background-image: url('./Images/saber_link.png')")
                a.link(href="")
                  .player(style="border-color: #554bf1;background-image: url('./Images/master_saber_link.png')")


            .caption.next
              h4 Next
              .line_horizon

            .caption
              .story_title
                p.mb-2 第三、四次團務
                h4.mb-4  【???】
                h4 11/17 , 1/6
              .line.height
              .line.long

    .transition_bg_open
    .transition_bg


block body_script
  script(src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenMax.min.js")
  script.
    opening()

    function opening() {
      TweenLite.from(".transition_bg_open", 1, {x:"0", ease: Power4.easeOut,  onComplete: () => {
          $('.transition_bg_open').remove()
      }});
      TweenMax.staggerFrom(".line", .8, {css:{height: "0"}, ease: Power4.easeOut}, .2);
    }


